{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <h4 class="text-uppercase mb-3">Tug'ilgan kun to'rti</h4>
                        <p> maxsus dizayn va ta'mga ega to'rtdir. Odatda, shaxsiy xohishlarga mos ravishda bezatiladi va tortda tug'ilgan kunga bag'ishlangan yozuvlar bo'ladi.</p>
                        <a class="text-uppercase text-dark" href="">Batafsil o'qing<i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <h4 class="text-uppercase mb-3">To'y to'rti</h4>
                        <p>o'ziga xos dizayn va bezaklar bilan tayyorlangan maxsus tortdir. Odatda, to'yning mavzusiga mos ravishda bezatiladi</p>
                        <a class="text-uppercase text-dark" href="">Batafsil o'qing <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <h4 class="text-uppercase mb-3">Maxsus to'rt</h4>
                        <p>bu mijozning talabiga mos ravishda tayyorlangan tortlar</p>
                        <a class="text-uppercase text-dark" href="">Batafsil o'qing<i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 text-center">
                    <h1 class="text-uppercase text-light mb-4">Bu Yozda 30% Chegirma</h1>
                    <a href="" class="btn btn-primary border-inner py-3 px-5">Hozir Buyurtma Qiling</a>
                </div>
            </div>
{% endblock content %}